chromadb==1.1.1
gradio==6.5.0
gradio_client==2.0.3
langchain-chroma==1.1.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.7
langchain-google-genai==4.2.0
langchain-huggingface==1.2.0
langchain-openai==1.1.7
langchain-text-splitters==1.1.0
numpy==2.4.1
openai==1.83.0
pydantic==2.11.10
pydantic-settings==2.10.1
pydantic_core==2.33.2
python-dotenv==1.1.1
sentence-transformers==5.2.2
